/* My Styles */

* {
    margin: 0px;
    padding: 0px;
}

body {
	background: #fff;
    height: 100vh;
    color: #000;
    font-family: 'BB-Regular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: .75rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
}


/* Header */
header {
    display: flex;
    width: 100%;
    height: 2.8125rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid #000;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    flex-direction: row;
}

.header a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    padding: 0 .5rem;
    border: rgb(255, 255, 255) solid 1px;
    height: 1.75rem;
    align-items: center;
}

.header__logo {
    z-index: 1022;
    display: block;
    height: 2.8125rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 8.625rem;
}

.header__logo a {
    display: block;
    width: 100%;
    height: 100%;
    border-color: transparent;
}

.header__logo h1 {
    display: block;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 2em;
}


.header__logo img {
    display: block;
    position: fixed;
    top: .90625rem;
    width: 8.5625rem;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}


.header__left a {
    display: inline-flex;
    align-items: center;
    font-size: .75rem;
    border-radius: .25rem;
    letter-spacing: .03em;
    line-height: 130%;
}

header .header__left a {
    margin-left: .25rem;
}

.header .header__left a:hover {
    border-color: #000;
}



.header__right a {
    display: inline-flex;
    align-items: center;
    margin-right: .25rem;
  font-size: .75rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: .03em;
    height: 1.75rem;
    justify-content: center;
    padding: 0 .5rem;
text-align: center;
    border-radius: .25rem;
}

.fa fa-search,
.fa fa-bag-shopping {
    display: inline-flex;
    align-items: center;
    margin-right: .25rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: .03em;
    height: 1.75rem;
    justify-content: center;
    padding: 0 .5rem;
    text-align: center;
    font-size: 1.75rem;
    vertical-align: middle;
}



/* Footer */

.footer {
    display: flex;
    flex-wrap: wrap;
    background: #171717;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 47.23px;

}

.footer a {
    color: #999da2;
    padding: 15px;
    margin: 0px 5px;
    font-size: 13px;
    line-height: 27px;
    font-family: 'Roboto', 'Arial', sans-serif;
    text-decoration: none;
    white-space: nowrap;
}

.footer__middle img {
    height: 14px;
    margin-right: 6px;
}


.footer a:hover,
.footer a:active {
    text-decoration: underline;
}

.footer__left {
    justify-content: flex-start;
    min-width: 30%;
    order: 1;
}

.footer__middle {

    order: 2;
}

.footer__right {
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
}