/* My Styles */

* {
    margin: 0px;
    padding: 0px;
}

body {
	background: #202124;
    height: 100vh;
}


.navbar a {
    color: #bdc1c6;
    padding: 5px;
    margin: 0px 5px;
    font-size: 13px;
    line-height: 27px;
    font-family: 'Roboto', 'Arial', sans-serif;
    text-decoration: none;
}

.navbar a:hover, 
.navbar a:active {
    text-decoration: underline;
}




.navbar {
    display: flex;
    background: #202124;
    padding: 6px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.navbar__left {
    float: left;
    margin-left: 15px;
}

.navbar__right {
    float: right;
    margin-right: 15px;
    white-space: nowrap;
}

svg {
    color: rgba(255,255,255,0.87);
}


.google_apps {
    fill: currentColor;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    padding: 8px;
}

.apps__icon,
.signin__btn {
    text-decoration: none !important;
}

.google_apps:hover {
    background: rgba(255,255,255,0.12);
    border-radius: 50%;
}

a.signin__btn {
    color: #202124 !important;
    background: #8ab4f8;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 9px 23px;
    min-width: 96px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.25px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}


.signin__btn:hover {
    background: #f8fbff;
    border-color: #cce0fc;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
    box-sizing: border-box;
    flex-shrink: 0;
}

img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
}

/* Search Bar */

.searchbar__container {
    display: flex;
    height: 44px;
    background: #202124;
    border: 1px solid #5f6368;
    border-radius: 24px;
    width: calc(632px + 6px);
    max-width: 584px;
    align-items: center;  
    margin: 20px;
}

.searchbar__container:hover,
.searchbar__container:focus {
    background-color: #303134;
box-shadow: 0 1px 6px 0 #171717;
border-color: rgba(223,225,229,0);
}

.searchbar__btn svg {
    fill: #9aa0a6;
    line-height: 24px;
    width: 20px;
    height: 20px;
    margin-top: 3px;
    padding-right: 13px;
}

.searchbar__btn {
    background-color: transparent;
    border: none;
}

input {
    border: none;
    background: transparent;
    color: #e8eaed;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    height: 34px;
    outline: none;
    flex: 100%;
    margin: 0px;
}

.btn__input__wrapper {
    display: flex;
    flex: 1;
    padding: 5px 8px 0 14px;
}


.google__search,
.feeling__lucky {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

.google__search:hover,
.google__search:focus,
.google__search:active,
.feeling__lucky:hover,
.feeling__lucky:focus,
.feeling__lucky:active {
    box-shadow: 0 1px 3px rgba(23,23,23,0.24);
    background-color: #303134;
    border: 1px solid #5f6368;
    color: #e8eaed;
    cursor: pointer;
}

/* Footer */

.footer {
    display: flex;
    flex-wrap: wrap;
    background: #171717;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 47.23px;

}

.footer a {
    color: #999da2;
    padding: 15px;
    margin: 0px 5px;
    font-size: 13px;
    line-height: 27px;
    font-family: 'Roboto', 'Arial', sans-serif;
    text-decoration: none;
    white-space: nowrap;
}

.footer__middle img {
    height: 14px;
    margin-right: 6px;
}


.footer a:hover,
.footer a:active {
    text-decoration: underline;
}

.footer__left {
    justify-content: flex-start;
    min-width: 30%;
    order: 1;
}

.footer__middle {

    order: 2;
}

.footer__right {
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
}